Project Name: Food (Number 2) 

<br>
Team Members: Erifeoluwa Jamgbadi and Yazdani Mehr Azin

In [3]:
## importing required libraries

import numpy as np
import pandas as pd
from pathlib import Path
import os

<br>

<font size="5"> **Importing Dataset**</font>

<br>

In [4]:
#Path to the target csv file. 
path = os.getcwd()
print(path)

C:\Users\SAMSUNG\Documents\GitHub\Food

<br>

<font size="5"> **Data Analysis Section**</font>

<br>

In [9]:
data = pd.read_csv(path+'/dataset/ratings_Baby.csv')
data.head()

   A28O3NP6WR5517  0188399313  5.0  1369612800
0   AX0M1Z6ZWO52J  0188399399  5.0  1365465600
1  A1KD7N84L7NIUT  0188399518  4.0  1392336000
2  A29CUDEIF4X1UO  0188399518  3.0  1373241600
3  A32592TYN6C9EM  0316967297  4.0  1378425600
4   AA9X14MODL8XJ  0316967297  5.0  1363910400

<br>

<font size="5"> **Clustering Section**</font>

<br>